# Database Configuration
DATABASE_URL=ecto://postgres:postgres@localhost/phoenix_admin_dev

# Phoenix Configuration
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
PHX_HOST=localhost
PORT=4000

# JWT Configuration
JWT_SECRET_KEY=generate_with_mix_phx_gen_secret

# PostgreSQL Pool Size
POOL_SIZE=10
